@inherits LayoutComponentBase

<PageTitle>SuggestionAppUI</PageTitle>

<div class="page">
    <main class="container-xxl">
        <div class="px-5 pt-3 nav-links">
            <LoginDisplay />
        </div>
        <article class="content pt-1">
            @Body
        </article>
    </main>
</div>
